body{
    font-family: sans-serif;
    font-size: 16px;
    text-transform: uppercase;
    color: wheat;

    background-image: url('images/background-img.jpg');
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;   
}

img{
    border: 2px solid gray;
    border-radius: 25px;
}

.enter-api{
    width: 300px;
    height: 150px;
    display: block;
    margin: 300px 0 0 520px;
    background-color: rgba(0, 0, 0, 0.534);

    border: 3px solid gray;
    border-radius: 10px;
}

.text{
    padding-top: 15px;
    text-align: center;
}

form{
    padding:5px 0 0 25px;
}
#apiKey{
    width: 245px;
    height: 30px;
    margin-top: 5px;

    border: 1px solid blue;
    border-radius: 5px;
}

#submitApiKey{
    width: 200px;
    height: 35px;
    margin: 3px 0 0 25px;

    background-color: rgb(42, 148, 148);
    font-weight: 700;
    font-size: large;
    color: white;

    border: 1px solid black;
    border-radius: 10px;
}

#submitApiKey:hover{
    background-color: rgb(59, 177, 177);
}
